.height405{
  height:405px;
}
.top0{
  top:0px;
}
.height0{
  height:0px;
}
.height50{
  height:50px;
}
.height192{
  height:192px;
}
.displayBlock{
  display: block !important;
}
.displayNone{
  display:none !important;
}
.textAlignRight{
  text-align: right;
}
.mainpage-description-wrapper-bgImg{
  background-image: url("https://www0.dek-d.com/assets/writer/images/tttt.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.noJavaScript{
  text-align: right;
  color: red;
  font-size: 13px;
}
#wysiwyg_div_story-content{
  width:100%;
}
#wysiwyg_table_story-content{
  width: 100%;
  height:auto;
}
.richtext-space textarea{
  color: #85420A;
  background-color: transparent;
  width: 100%;
  min-height: 400px;
  border: none;
  box-shadow: none;
  font-size: 12px;
  height:auto;

}
.btn-add-chapter{
  cursor: pointer !important;
}
.richtext-space textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #85420A;
}
.chapter-li-wrapper{
  overflow: scroll !important;
}
.tiny-scroll-wrapper .viewport {
  overflow: scroll !important;
}
.modal-story-icon-dek-d-writer {
  background-image: url("https://www0.dek-d.com/assets/writer/images/tttt.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.app-modal.hide.fade {
  width:100% !important;
  
}
#modal-story-settings{
  left: auto !important; 
  max-width: auto !important;
  margin-right: 85px;
}
/* Example Styles for React Tags*/
div.ReactTags__tags {
    position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 95%;
    min-width: 300px;
    border-radius: 2px;
    display: block;
    
  
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: none;
    background-color:rgba(255,255,255,.15);
    color:white;
    border-radius: 0px;
    
}
div.ReactTags__tags {
    display: inline-block;
}
/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #999;
    box-shadow:0 1px 4px 0 rgba(0,0,0,.37);
    background: #999;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 5px 5px;
    color:white;
    cursor: move;
    border-radius: 2px;
    
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}
.top0.38587{
  top:0.38587px;
}
.top-6{
  top:-6px;
}