.height405{
  height:405px;
}
.top0{
  top:0px;
}
.height0{
  height:0px;
}
.height50{
  height:50px;
}
.height192{
  height:192px;
}
.displayBlock{
  display: block !important;
}
.displayNone{
  display:none !important;
}
.textAlignRight{
  text-align: right;
}
.mainpage-description-wrapper-bgImg{
  background-image: url("https://www0.dek-d.com/assets/writer/images/tttt.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.noJavaScript{
  text-align: right;
  color: red;
  font-size: 13px;
}
#wysiwyg_div_story-content{
  width:100%;
}
#wysiwyg_table_story-content{
  width: 100%;
  height:auto;
}
.richtext-space textarea{
  color: #85420A;
  background-color: transparent;
  width: 100%;
  min-height: 400px;
  border: none;
  box-shadow: none;
  font-size: 12px;
  height:auto;

}
.btn-add-chapter{
  cursor: pointer !important;
}
.richtext-space textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #85420A;
}
.chapter-li-wrapper{
  overflow: scroll !important;
}
.tiny-scroll-wrapper .viewport {
  overflow: scroll !important;
}
.modal-story-icon-dek-d-writer {
  background-image: url("https://www0.dek-d.com/assets/writer/images/tttt.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.app-modal.hide.fade {
  width:100% !important;
  
}
#modal-story-settings{
  left: auto !important; 
  max-width: auto !important;
  margin-right: 85px;
}
/* Example Styles for React Tags*/
div.ReactTags__tags {
    position: relative;
}
div.ReactTags__selected span.ReactTags__tag{
  margin-left:0px !important;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 95%;
    min-width: 300px;
    border-radius: 2px;
    display: block;
    
  
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: none;
    background-color:rgba(255,255,255,.15);
    color:white;
    border-radius: 0px;
    
}
div.ReactTags__tags {
    display: inline-block;
}
/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #999;
    box-shadow:0 1px 4px 0 rgba(0,0,0,.37);
    background: #999;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 5px 5px;
    color:white;
    cursor: move;
    border-radius: 2px;
    
}
div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}
.top0.38587{
  top:0.38587px;
}
.top-6{
  top:-6px;
}
/**
 * React Switch Button control style.
 *
 * @author          =undo= <g.fazioli@undolog.com>
 * @date            2016-02-17
 * @version         2.0.0
 *
 */
.rsbc-switch-button {
  position: relative;
  line-height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rsbc-switch-button label {
  cursor: pointer;
}
.rsbc-switch-button.disabled label {
  cursor: not-allowed;
}
.rsbc-switch-button input[type="checkbox"] {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.rsbc-switch-button > label:first-child {
  display: inline-block;
  margin: 0 6px 0 0px;
}
.rsbc-switch-button label + label {
  margin-left: 6px;
}
.rsbc-switch-button input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  margin: 0;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/**
 * React Switch Button control style.
 *
 * @author          =undo= <g.fazioli@undolog.com>
 * @date            2016-02-17
 * @version         2.0.0
 *
 */
.rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"] + label {
  padding: 2px;
  width: 48px;
  height: 24px;
  vertical-align: middle;
  background-color: #aaa;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
.rsbc-switch-button.rsbc-switch-button-flat-round.disabled input[type="checkbox"] + label {
  background-color: #eee;
}
.rsbc-switch-button.rsbc-switch-button-flat-round:hover input[type="checkbox"] + label {
  background-color: #8BC321;
}
.rsbc-switch-button.rsbc-switch-button-flat-round.disabled:hover input[type="checkbox"] + label {
  background-color: #eee;
}
.rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"] + label:before,
.rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"] + label:after {
  display: inline-block;
  position: absolute;
  content: "";
}
.rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"] + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
.rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"] + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 16px;
  background-color: #919191;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
.rsbc-switch-button.rsbc-switch-button-flat-round.disabled input[type="checkbox"] + label:after {
  background-color: #d5d5d5;
}
.rsbc-switch-button.rsbc-switch-button-flat-round:hover input[type="checkbox"]:checked + label {
  background-color: #aaa;
}
.rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"]:checked + label {
  background-color: #8BC321;
}
.rsbc-switch-button.rsbc-switch-button-flat-round.disabled input[type="checkbox"]:checked + label {
  background-color: #eee;
}
.rsbc-switch-button.rsbc-switch-button-flat-round input[type="checkbox"]:checked + label:after {
  margin-left: 24px;
  background-color: #8BC321;
}
.rsbc-switch-button.rsbc-switch-button-flat-round.disabled input[type="checkbox"]:checked + label:after {
  margin-left: 24px;
  background-color: #d5d5d5;
}
.rsbc-switch-button.rsbc-switch-button.rsbc-switch-button-flat-round.rsbc-mode-select input[type="checkbox"] + label:after,
.rsbc-switch-button.rsbc-switch-button.rsbc-switch-button-flat-round.rsbc-mode-select:hover input[type="checkbox"]:checked + label,
.rsbc-switch-button.rsbc-switch-button.rsbc-switch-button-flat-round.rsbc-mode-select input[type="checkbox"] + label {
  background-color: #579fcb !important;
}
/**
 * React Switch Button control style square.
 *
 * @author          =undo= <g.fazioli@undolog.com>
 * @date            2016-12-30
 * @version         1.0.0
 *
 */
.rsbc-switch-button.rsbc-switch-button-flat-square input[type="checkbox"] + label {
  padding: 2px;
  width: 48px;
  height: 24px;
  vertical-align: middle;
  background-color: #aaa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
.rsbc-switch-button.rsbc-switch-button-flat-square.disabled input[type="checkbox"] + label {
  background-color: #eee;
}
.rsbc-switch-button.rsbc-switch-button-flat-square:hover input[type="checkbox"] + label {
  background-color: #8BC321;
}
.rsbc-switch-button.rsbc-switch-button-flat-square.disabled:hover input[type="checkbox"] + label {
  background-color: #eee;
}
.rsbc-switch-button.rsbc-switch-button-flat-square input[type="checkbox"] + label:before,
.rsbc-switch-button.rsbc-switch-button-flat-square input[type="checkbox"] + label:after {
  display: inline-block;
  position: absolute;
  content: "";
}
.rsbc-switch-button.rsbc-switch-button-flat-square input[type="checkbox"] + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
.rsbc-switch-button.rsbc-switch-button-flat-square input[type="checkbox"] + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 16px;
  background-color: #919191;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
.rsbc-switch-button.rsbc-switch-button-flat-square.disabled input[type="checkbox"] + label:after {
  background-color: #d5d5d5;
}
.rsbc-switch-button.rsbc-switch-button-flat-square:hover input[type="checkbox"]:checked + label {
  background-color: #aaa;
}
.rsbc-switch-button.rsbc-switch-button-flat-square input[type="checkbox"]:checked + label {
  background-color: #8BC321;
}
.rsbc-switch-button.rsbc-switch-button-flat-square.disabled input[type="checkbox"]:checked + label {
  background-color: #eee;
}
.rsbc-switch-button.rsbc-switch-button-flat-square input[type="checkbox"]:checked + label:after {
  margin-left: 24px;
  background-color: #8BC321;
}
.rsbc-switch-button.rsbc-switch-button-flat-square.disabled input[type="checkbox"]:checked + label:after {
  margin-left: 24px;
  background-color: #d5d5d5;
}
.rsbc-switch-button.rsbc-switch-button.rsbc-switch-button-flat-square.rsbc-mode-select input[type="checkbox"] + label:after,
.rsbc-switch-button.rsbc-switch-button.rsbc-switch-button-flat-square.rsbc-mode-select:hover input[type="checkbox"]:checked + label,
.rsbc-switch-button.rsbc-switch-button.rsbc-switch-button-flat-square.rsbc-mode-select input[type="checkbox"] + label {
  background-color: #8BC321 !important;
}
.mockupToolBar{
  height:36px;
  background-color:#E5E5E5;
  margin-top:47px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  width:100%;
  position: fixed;
  left:250px;
  z-index: 2;
}
.action-autosave-wrapper{
  z-index:350;
}
.ReactModal__Overlay, ReactModal__Overlay--after-open{
  z-index: 9999 !important;
}